<h3>Info</h3>
<p>
  This is just a prototype project. It still has bugs, design bugs (not really
  responsive), some anti patterns and no good documentation. So take it as it is
  or leave it, but don't text me: "Henrik you are a bad programmer!" - Because
  I'm not a programmer at all. ;-)
</p>
<h3>Tips and Tricks</h3>
<p>
  When the game is stopped, you can draw figures on the playing field yourself.
  There are several options for this:
</p>
<h4>a) paint individual cells</h4>
<p>
  Clicking on a cell changes its state. If it is a living cell (black) it
  becomes a dead cell (white) and vice versa.
</p>
<h4>b) paint rows</h4>
<p>
  If you click on a cell while holding down <strong>alt</strong>, the entire row
  starting from that cell will become black (living cell).
</p>
<p>
  If you click on a cell while holding down <strong>alt + shift</strong>, then
  the entire row from that cell onwards will become white (dead cells).
</p>
<h4>c) paint columns</h4>
<p>
  If you click on a cell while holding down
  <strong>ctrl (Strg on German Keyboard)</strong>, the entire column starting
  from that cell will become black (living cell).
</p>
<p>
  If you click on a cell while holding down <strong>ctr + shift</strong>, then
  the entire row from that cell onwards will become white (dead cells).
</p>
<h4>d) add predefined object/patterns</h4>
<p>Use context menu (right click) on the board an choose a pattern.</p>
